.club-page-info {
    background-color: #555a60;
    padding: 40px 20px;
    font-style: italic;
    min-height: 60vh;
}

.club-page-info .club-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    margin-top: 15px;
}

/*::deep .club-info .mud-icon-button {
    padding: 10px 0;
}*/
::deep .club-info .mud-icon-button {
    padding: 6px 6px 6px 0;
}

::deep .club-info .mud-avatar {
    margin-right: 10px;
}