::deep .mud-main-content {
    padding-top: 0;
}
::deep .mud-container {
    margin: 0;
}
/*Ovan funkar ej...*/

.component-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.club-page-header {
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

::deep .club-page-header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
}

::deep .club-page-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 250px;
    position: relative;
    
}
.club-page-top-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.club-page-info {
    background-color: #555a60;
    padding: 20px 20px;
    
    font-style: italic;
}
.club-page-info .club-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
}
::deep .club-info .mud-icon-button {
    padding: 10px 0;
}
