 <PageHeader HeaderTitle="Bekräftelse"/>
 <div class="Receipt-modal">
     <MudText Typo="Typo.h2">Grattis!</MudText>
     <MudText Typo="Typo.body1">Varmt välkommen till en härlig kväll på @PurchasedTicket.ClubName.</MudText>
     <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
     <MudText Typo="Typo.body1">Ellen Lundell +2</MudText>
     <MudText Color="Color.Dark" Typo="Typo.body2">@PurchasedTicket.StartValidTime.ToShortDateString() | @PurchasedTicket.StartValidTime.ToShortTimeString()</MudText>
     <MudText Typo="Typo.body1">Totalt belopp: @Math.Round((PurchasedTicket.Price) * (@NumberOfTicketsPurchased)) kr</MudText> 
     
     
     <MudButton Class="mt-4" Href="/MySlipp" 
                Target="_blank"
                Variant="Variant.Filled"
                Color="Color.Primary">
           Mina Slipp-biljetter
     </MudButton>
 </div>
@code {
    [Parameter] public CreateTicketOutput PurchasedTicket { get; set; }
    [Parameter] public int NumberOfTicketsPurchased { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
 <style>
     .Receipt-modal {
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 50vh;
         justify-content: center;
     }
 </style>