@inject ITicketAPIService TicketApiService


<div class="main-container">
    @foreach (var ticket in favouriteTickets)
        {
            
            <TicketCard Ticket=ticket></TicketCard>
        }
</div>


<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
</style>


@code {

    private IEnumerable<TicketOutput> favouriteTickets;
    private bool shouldRender;  

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        favouriteTickets = await TicketApiService.GetFavouriteTickets();
        shouldRender = true;
    }


}

