@inject ITicketAPIService TicketApiService


<div class="main-container">
    @if(favouriteTickets is not null)
    {
        <TicketCard TicketGroup=@favouriteTickets IsFavourite=true></TicketCard>
    }
</div>


<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
</style>


@code {

    private IEnumerable<TicketOutput> favouriteTickets;


    protected override async Task OnInitializedAsync()
    {
        favouriteTickets = await TicketApiService.GetFavouriteTickets();
    }


}