@using Slipp.Services.DTO

<div class="header">   
    <div class="location-info">
        <h3>Plats <span id="dropdown-arrow">&#129171;</span></h3>
        <p>Adress XX, Göteborg</p>
    </div>
    <div class="header-menu">
        
        <h3>Biljetter</h3>
        <h3>Auktioner</h3>
        <h3>Nattklubbar</h3>
        <div class="active-line"></div>
    </div>
</div>