@inject NavigationManager NavigationManager

<div class="page-header">
    <MudGrid>

        <MudItem xs="1" Class="d-flex align-basline justify-content-start">
            <div class="header-top-icons">
                <MudIconButton Size="Size.Large" Icon="@Icons.Filled.ArrowCircleLeft" Color="Color.Primary" OnClick="GoBack"/>
            </div>
        </MudItem>

        <MudItem xs="10" Class="d-flex align-basline justify-center">
        <div >
            <MudText Color="Color.Primary" Typo="Typo.h1">@HeaderTitle</MudText>
        </div>
        </MudItem>
        
        <MudItem xs="1" Class="d-flex align-basline justify-content-start">
        </MudItem>

    </MudGrid>
</div>





@code {
    [Parameter] public string HeaderTitle { get; set; }
    public string ReturnUrl {get; set;}

    protected override void OnInitialized()
    {
        ReturnUrl = NavigationManager.QueryString("returnUrl") ?? "/";
        
    }
   
    public void GoBack()
    {
        NavigationManager.NavigateTo(ReturnUrl); /*BUG - Always returns to home for me, JF*/
    }
}

<style>
    .page-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #27272f;
        /*background-color: var(--mud-palette-surface);*/
        align-items: center;
        max-height: 250px;
        padding: 15px 0;
    }

    .header-top-icons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>