<div class="component-content">
    <div class="d-flex justify-center">
        <MudImage Fluid="true" Src="images/ticket1.svg" Class="ticketFrame"/>
    </div>
    </div>
    

@code {

}

<style>
    ::deep .component-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .ticketFrame {
        width: 90vw;
        margin: 10px 0;
    }
</style>