::deep .component-content {
    width: 90vw;
    aspect-ratio: 178/93;
    max-height: 201px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

::deep .my-card {
    display: flex;
    width: 100%;
    max-width: 380px;
    max-height: 201px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

::deep .my-card-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    color: black;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.029999999329447746px;
    text-align: center;
}

.date-avatar {
    /*position: absolute;*/
    margin-bottom: 10px;
    top: 5%;
    right: 27.5%;
}

#content-left {
    flex: 1 1 65%;
    padding: 5%;
}

#content-right {
    flex: 1 1 35%;
}

::deep .my-card-content h2 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.029999999329447746px;
    text-align: center;
}

::deep .my-card-content h4 {
    font-family: Montserrat;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.029999999329447746px;
    text-align: center;
}

::deep .my-card-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: center;
}

::deep .typo-small p {
    font-family: Josefin Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0px;
    text-align: center;
}
