@using System.Text.Json
@using System.Text.Json.Serialization;
@using Slipp.Services.DTO
@using Slipp.Services.Models
@using System.Net
@inject ITicketAPIService TicketApiService



<div class="main-container">
    @if (tickets == null)
    {
        <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
    }

    else
    {
        @foreach (var ticket in tickets)
        {
            if (favouriteTickets.Contains(ticket)){
                <TicketCard Ticket=ticket IsFavourite=true/>
            }
            else
            {                
                <TicketCard Ticket=ticket IsFavourite=false/>
            } 
        }
    }
</div>




@code {
    private IEnumerable<TicketOutput> tickets;
    private IEnumerable<TicketOutput> favouriteTickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = await TicketApiService.GetTickets(null, null);
        favouriteTickets = await TicketApiService.GetFavouriteTickets();
    }


}

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
</style>
