
.my-card {
    margin: 10px 30px;
    width: 75%;
    text-align: center;
    border: 1px solid black;
    padding: 0px;
}

    .my-card > *,
    .my-card-info > * {
        margin: 5px 0;
    }

    .my-card h4 {
        color: black;
    }

#auction-deadline {
    font-weight: bold;
    margin-top: 25px;
}

.my-card-footer {
    background-color: black;
    margin: 0;
}

    .my-card-footer p {
        color: white;
        padding: 3px 0;
        margin: 0px;
    }