@page "/klubb" 
@*/{Id:guid}*@
@using Slipp.Services.DTO
@using Slipp.Services.Models

@inject HttpClient Client





<div class="main-container">
    @if (getAuctionsError)
    {
        <p>Unable to load club. Please try again later.</p>
    }
    else
    {
       
        <Club_Page Club=clubs[0]></Club_Page>

        @*TODO Lägg till swipearea för auktioner och tickets*@
        @*TODO Ändra till endast tickets för specifika klubben*@
        
        @foreach (var ticket in tickets)
        {
            <TicketCard Ticket=ticket></TicketCard>
        }
    }
</div>

@code {
    
    private ClubOutput[] clubs;
    private CreateTicketOutput[] tickets;

    private bool getAuctionsError;
    private bool shouldRender;  

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        clubs = await Client.GetFromJsonAsync<ClubOutput[]>("sample-data/clubs.json");
        tickets = await Client.GetFromJsonAsync<CreateTicketOutput[]>("sample-data/tickets.json");

        shouldRender = true;
    }
}
