@page "/klubb/{clubId}"
@using Slipp.Services.DTO
@using Slipp.Services.Models
@inject PageHistoryState PageHistoryState
@inject HttpClient Client






    @if (getAuctionsError)
    {
        <p>Unable to load club. Please try again later.</p>
    }
    else
    {
       
        <Club_Page Club=@club></Club_Page>
        <HeaderTabs FirstTabValue="Om" SecondTabValue="Biljetter" ThirdTabValue="Auktioner"></HeaderTabs>
        
        @*@foreach (var ticket in tickets)
        {
            <TicketCard Ticket=ticket></TicketCard>
        }*@
    }


@code {
    
    private ClubOutput[] clubs;
    private ClubOutput club;
    private TicketOutput[] tickets;
    [Parameter] public string clubId { get; set; }

    private bool getAuctionsError;
    private bool shouldRender;  

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        clubs = await Client.GetFromJsonAsync<ClubOutput[]>("sample-data/clubs.json");
        club = clubs.FirstOrDefault(c => c.Id.ToString() == clubId);
        tickets = await Client.GetFromJsonAsync<TicketOutput[]>("sample-data/tickets.json");
        PageHistoryState.AddPageToHistory($"/klubb/{clubId}");

        shouldRender = true;
        base.OnInitialized();
    }
}
