@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Index</PageTitle>

<div class="Loggo"></div>

<EditForm Model="testUser" OnValidSubmit="isValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="loginContainer">
        <label >
            <input @bind="testUser.EmailAddress" placeholder="Email"/>
        </label>
        <label >
            <input @bind="testUser.Password" placeholder="Password"/>
        </label>
        <div class="btnContainer">
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </div>
        
    </div>
</EditForm>



@code{ //TODO - Tillfällig DTO byt ut senare.

    private TestUser testUser = new();

    public class TestUser
    {
        [Required]
        [EmailAddress]
        public string EmailAddress { get; set; }
        
        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }
    }

    private void isValidSubmit()
    {

    }

}