@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Index</PageTitle>

<div class="Loggo"></div>

<EditForm Model="testUser" OnValidSubmit="isValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="loginContainer">
        <label >
            EmailAddress:
            <input @bind="testUser.EmailAddress" />
        </label>
        <label >
            Password:
            <input @bind="testUser.Password"/>
        </label>
    <div>
        <button type="submit">Submit</button>
    </div>
    </div>
</EditForm>



@code{ //TODO - Tillfällig DTO byt ut senare.

    private TestUser testUser = new();

    public class TestUser
    {
        [Required]
        [EmailAddress]
        public string EmailAddress { get; set; }
        
        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }
    }

    private void isValidSubmit()
    {

    }

}