@page "/login"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@*TODO - lägg till visa/göm lösenord*@
<MudContainer Style="padding: 50% 10% 10% 10%;">
    <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h1">Logga in</MudText>
    <EditForm Model="@_loginInput" OnValidSubmit="HandleValidSubmit">
        <MudGrid Justify="Justify.Center">
            <MudItem Style="Margin-top: 30px;" xs="12" sm="7">
                <MudTextField
                        T="string"
                        Variant="Variant.Outlined"
                        @bind-Value="@_loginInput.Email"
                        Label="Email"
                        Required="true"
                        For="(() => _loginInput.Email)"
                        RequiredError="Email is required!"/>

                    <MudTextField
                        T="string"
                        Variant="Variant.Outlined"
                        @bind-Value="@_loginInput.Password"
                        Label="Password"
                        InputType="InputType.Password"
                        Required="true"
                              For="(() => _loginInput.Password)"
                        RequiredError="Password is required!"/>

                    <div class=" float-end mt-6">
                        <MudButton 
                            ButtonType="ButtonType.Submit"
                            Variant="Variant.Filled"
                            Size="Size.Large"
                            Color="Color.Primary"
                            Class="ml-auto">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Logga in
                        </MudButton>

                        <MudButton
                            ButtonType="ButtonType.Button"
                            Variant="Variant.Filled"
                            Size="Size.Large"
                            Color="Color.Primary"
                            OnClick="@(() => NavigationManager.NavigateTo("/register"))">
                            Register
                        </MudButton>

                    </div>
            </MudItem>
        </MudGrid>

    </EditForm>
</MudContainer>

<style>
    .mud-input-label-outlined {
        background-color: #121821;
    }
</style>


@code {
    private readonly LoginInput _loginInput = new();
    private bool loading;
    //private string error; 


    bool success;
    string[] errors = {};
    MudForm form;


    protected override void OnInitialized()
    {
    // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Login(_loginInput); /*TODO - Show loader on while waiting*/
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "/Home";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            //error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

}