@*TODO Sätt denna till authorize*@
@inject NavigationManager NavigationManager
@inject ITicketAPIService ApiService

@page "/pay/{ticketId}" 
@*Här ska vi sen byta till den aktuella apiQueryn*@


<div class="main-container">
<PageHeader HeaderTitle="Betalning"/>
<TicketBackside></TicketBackside>

<div class="numericSpinnerContainer">
    <div class="numericSpinner">
        <MudNumericField @bind-Value="choosenValue" Label="Antal biljetter" Variant="Variant.Text" Min="1" Max="10" /> @*TODO Byt Max till antal biljetter*@
    </div>
</div>

<MudDivider DividerType="DividerType.Middle" Class="my-6"></MudDivider>

<MudText Typo="Typo.h2" Style="text-align: left;">Översikt</MudText>
<MudText Typo="Typo.body2">dnjksnfjkab</MudText>

</div>

@code {
    [Parameter] public string ticketId { get; set; }
    public int choosenValue { get; set; }
    public CreateTicketOutput Ticket { get; set; } //Detta ska sen bytas till en lista med tickets
  

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Ticket = await ApiService.GetTicket(new Guid(ticketId));
    }

  
}







<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .numericSpinnerContainer {
        width: 90vh;
        display: flex;
        justify-content: center;
    }
    .numericSpinner {
        max-width: 100px;
  
    }
</style>