.page {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

main {
    flex: 1;
}

.bottom-nav {
    border-top: 1px solid black;
    background-image: linear-gradient(180deg, #161a20, #3A4553); 
    position: sticky;
    bottom: 0;
}

.content {
    padding: 0;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .bottom-nav {
        width: 250px;
        height: 100vh;
        position: sticky;
        bottom: 0;
    }
    
}
