
<nav class="navbar navbar-light">
    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/home.svg" class="d-block svg-size" alt="home-icon">
        HOME
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/magnifying-glass.svg" class="d-block svg-size" alt="home-">
        CLUBS
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/heart.svg" class="d-block svg-size" alt="">
        LIKE
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/list.svg" class="d-block svg-size" alt="">
        LIST
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/person.svg" class="d-block svg-size" alt="">
        USER
    </NavLink>
</nav>