.navbar {
    justify-content: space-evenly;
}

.svg-fill {
    fill: white;
}

.svg-size {
    width: 30px;
    height: 30px;
}


.nav-link {
    font-size: 0.7rem;
    line-height: 2;
    font-weight: bold;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: black;
}


.nav-link:hover {
        color: blueviolet;
    }

img {
    display: inline-block;
    margin: auto;
}


@media (min-width: 641px) {

    img {
        display: inline-block;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
