.navbar {
    justify-content: space-evenly;
}

.svg-fill {
    fill: white;
}

.svg-size {
    width: 30px;
    height: 30px;
    filter: invert(95%) sepia(87%) saturate(2928%) hue-rotate(304deg) brightness(106%) contrast(90%);
}


::deep .nav-link {
    font-size: 0.7rem;
    line-height: 2;
    font-weight: 600;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #F2C080;
}


::deep .nav-link:hover {
        color: whitesmoke;
    }

img {
    display: block;
    margin: auto;
}


@media (min-width: 641px) {

    .navbar {
        border-left: 1px solid black;
        flex-direction: column;
        align-items: start;
    }

    img {
        display: inline-block;
    }

    ::deep .nav-link {
        font-size: 1rem;
        line-height: 2;
        font-weight: 600;
        padding: 10px;
        margin: 0;
        color: white;
        width: 100%;
        border-bottom: 1px solid black;
    }

    ::deep .nav-link:hover {
        color: #F2C080;
        font-size: 1.2rem;
    }

        .navbar-toggler {
            display: none;
        }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
