
<nav class="navbar navbar-light">
    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/home.svg" class="svg-size" alt="home-icon">
        HOME
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/magnifying-glass.svg" class="svg-size" alt="home-">
        CLUBS
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/heart.svg" class="svg-size" alt="">
        LIKES
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/clipboard.svg" class="svg-size" alt="">
        LISTS
    </NavLink>

    <NavLink class="nav-link" href="#">
        <img src="/css/open-iconic/svg/person.svg" style="fill: white" class="svg-size" alt="">
        USER
    </NavLink>
</nav>